<?xml version="1.0"?>
<!---step 2. The Config File
In the config.xml file we reference the Block directory and assigning a router for frontend and overriding the Mage_Customer in the core and lastly we update the layout for the controller for locating the phtml file
--->
<config>
	<modules>
		<acevazenticketsphp_Customerpage>
		  <version>0.1.0</version>
		</acevazenticketsphp_Customerpage>
	</modules>
	
	<global>
		<blocks> <!--Block folder-->
			<acevazenticketsphp>
				<class>acevazenticketsphp_Customerpage_Block</class>
			</acevazenticketsphp>
		</blocks>
	</global>
	
	<frontend>
		<routers>
			<acevazenticketsphp>
				<use>standard</use>
				<args>
					<module>acevazenticketsphp_Customerpage</module>
					<frontName>custompage</frontName>
				</args>
			</acevazenticketsphp>
	  
			<customer>
				<args>
					<modules>
						<!--name / before: change existing -->
						<acevazenticketsphp before="Mage_Customer">acevazenticketsphp_Customerpage</acevazenticketsphp>
					</modules>
				</args>
			</customer>
		</routers>
	
		<layout>
		  <updates>
			<acevazenticketsphp>
                          <!--app\design\frontend\default\default\layout\customer\custompage.xml-->
			  <file>customer/custompage.xml</file>
			</acevazenticketsphp>
		  </updates>
		</layout>
		
	</frontend>
  
  
</config> 